.box {
    position: relative;
    width: 80vw;
    height: 80vh;
    margin: 10vh auto;
    outline: 4px dashed #333;
    padding: 20px;
}

.red {
    display: flex;
    background: red;
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    outline: dotted 2px;
    position: absolute;
    bottom: 0;
    left: 55%;
}

.blue {
    background: blue;
    text-align: center;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    outline: double 2px;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(180deg);
}

.green {
    background: green;
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    outline: dashed 2px;
    position: absolute;
    top: 80px;
    right: 650px;
    transform: rotate(110deg);
}
