.article {
  padding-top: 80px;
  padding-bottom: 120px;
}

.article__section {
  margin-bottom: 80px;
}

.article__title {
  margin-bottom: 24px;
}

.article__subtitle {
  font-size: 36px;
  margin-bottom: 20px;
}

.article__text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}

.article__text:last-child {
  margin-bottom: 0;
}

.article__list {
  margin-top: 0;
  padding-left: 16px;
}

.article__item:not(:last-child) {
  margin-bottom: 12px;
}

.article__item::marker {
  font-size: 22px;
  color: #3596ed;
}

.article__media {
  position: relative;
  margin: 80px 0;
}

.article__media::before {
  content: "";
  position: absolute;

}

.article__media--image::before {
  top: 100px;
  left: 0;
}

.article__media--video::before {
  right: 0;
  bottom: 136px;
}

.article__image {
  display: block;
  width: 100%;
  height: auto;
}

.article__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: #3596ed;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s;
}

.article__play-button:hover {
  background-color: #38a2ff;
}

.article__play-button:not(:disabled):active {
  background-color: #2d82cd;
}

@media (width <=768px) {
  .article__media::before {
    display: none;
  }

  .article__subtitle {
    font-size: 32px;
  }

  .article__section {
    margin-bottom: 60px;
  }
}

@media (width <=576px) {
  .article {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .article__subtitle {
    font-size: 28px;
  }

  .article__section {
    margin-bottom: 40px;
  }

  .article__play-button {
    width: 50px;
    height: 50px;
  }

  .article__play-button img {
    width: 18px;
    height: 18px;
  }
}