.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d3cbd9;
}

.header__contacts {
  text-align: right;
}

.header__contacts p {
  margin-bottom: 8px;
}

.header__contacts a {
  font-weight: 500;
  font-size: 18px;
  color: #2c332f;
  transition: color 0.2s;
}

.header__contacts a:hover {
  color: #3596ed;
}