body {
    background: rgb(59, 57, 57);
    color: white;
}

.main {
    background: white;
    position: fixed;
    border-radius: 20px;
    height: 100px;
    width: 50%; 
    left: 47%;
    top: 578px;

}

.head {
    background: rgb(255, 61, 61);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: fixed;
    left: 55%;
    top: 530px;

}