.all {
    background: #f7f3f3;
    border: 1px solid black;
    border-radius: 30px 0px 0px 30px;
    width: 1650px;
    height: 800px;
    overflow: auto;
    
}


.block-1, .block-2, .block-3, .block-4, .block-5, .block-6, .block-7, .block-8, .block-9, .block-10, .block-11, .block-12  {
box-sizing: border-box;
    font-size: 20px;
    background: rgb(212, 193, 156);
    width: 250px;
    height: 120;
    display: inline-block;
    padding: 40px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 30px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2)
}