body {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding-left: 20px;
}

h1 {
    font-size: 18px;
    font-weight: 600;
}

.border {
    border: 1px solid black;
    border-radius: 10px;
    max-width: 250px;
    min-height: 340px;
    max-height: 500px;
}

.block {
    display: block;
    border-radius: 5px;
    padding-bottom: 5px;
    width: 200px;
}
.block1 {
    display: block;
    border-radius: 5px;
    padding-bottom: 5px;
    width: 200px;
    max-height: 120px;
    min-height: 20px;
}
.cursor1 {
    cursor: pointer;
}
.cursor2 {
    cursor: pointer;
    border-radius: 10px;
    padding: 3px;
}