* {
	box-sizing: border-box;
}

body {
	min-width: 375px;
	margin: 0;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 100px auto auto 250px;
	min-height: 100vh;
}

.header {
	background-color: #f00;
	min-height: 100px;
}

.aside {
	background-color: #e2e20d;
}

.main {
	background-color: #31bb0a;
	padding-top: 30px;
	padding-bottom: 30px;
}

.container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
	max-width: 1280px;
	padding: 0 15px;
	margin: 0 auto;
}

.article {
	background-color: #de6e05;
	min-height: 200px;
}

.footer {
	background-color: #0b2fe2;
	min-height: 250px;
}

.header {
	grid-column: 1 / 12 span;
	grid-row: 1;
}

.aside {
	grid-column: 1 / 2 span;
	grid-row: 2 / 3 span;
}

.main {
	grid-column: 3 / 12 span;
	grid-row: 2 / 3 span;
}

.footer {
	grid-column: 1 / 12 span;
	grid-row: 4;
}