body {
    background: rgb(65, 63, 63);
    color: white;
    font-size: 36px;
}
div {
    text-align: center;
}
.start::before {
    content: '';
    position: absolute;
    background: red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translatex(-150px);
    border: solid;
}
.start::after {
    content: '';
    position: absolute;
    background: blue;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translatex(50px);
    border: solid;
}